<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- Change mail.css to the right css file -->
</head>
<body>

    <header>
        <h1>Pet Care</h1>
        <h2>Admin Window</h2>
        <nav>
            <ul>
                <li><a href="AppointSched.html">Appointment Schedule</a></li>
                <li><a href="AccountHistory.html">Account History</a></li>
            </ul>
        </nav>
    </header>
    <form></form>
        <label for="walk-in-hours">Set Walk in Hours:</label>
        <input type="text" id="walk-in-hours" value="Walk in Hours: 1PM-6PM">
        <button type="button">Button</button>
    </form>
    <main>
        <details>
            <summary>
                <img class="profile-icon" src="{% static 'assets/icons.png' %}" alt="Profile Icon">
            </summary>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="transaction_history.html">Transaction History</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </details>

        <details>
            <summary>
                <img class="notification-icon" src="{% static 'assets/notification.png' %}" alt="Notification Icon">
            </summary>
            <div>
                <p>No notifications at the moment.</p>
            </div>
        </details>

        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>Owner's Name</th>
                    <th>Pet Species</th>
                    <th>Services</th>
                    <th>Date &<br> Time</th>
                    <th>Status</th>
                    <th>Payment<br>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr></tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr></tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>