<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Receipt (pop-up)</title>
    
</head>
<body>
    
    

    <h2>Appointment Receipt (pop-up)</h2>

    <p>Transaction ID: 00000001</p>
    <p>Xander Yangco</p>
    <p>Pet Specie: Dog</p>
    <p>Reason of Appointment: Check-up</p>
    <p>Appointment Date: 09/22/2024</p>
    <p>Appointment Time: 9 A.M.</p>
    
    
    
    
    
    
</body>
</html>
