<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORGOT PASSWORD</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- Change mail.css to the right css file -->
</head>
<body>
    <img class="lock-image" src="{% static 'assets/lock.png' %}" alt="Lock Image">

    <h2>FORGOT PASSWORD?</h2>

    <form action="mail.html" method="get">
        <label for="email">Email:</label><br>
        <!-- Email input with pattern to ensure it ends with @gsfe.tupcavite.edu.ph -->
        <input type="email" id="email" name="email" placeholder="Enter your email" required><br><br>

        <button type="submit">Submit</button><br><br>
    </form>
</body>
</html>
