<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAGNOSIS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- Change mail.css to the right css file -->
</head>
<body>
    
    <h2>DIAGNOSIS FORM</h2>

    <label for="checkupDate">Check up Date:</label><br>
                <input type="date" id="appointment-date"><br><br>

    <label for="reason">Reason of Diagnosis:</label><br><br>

    <label id="reason">LABEL</label><br><br>

    <label for="diagnosis">Diagnosis:</label><br><br>
    
    <label id="diagnosis">LABEL</label><br><br>

    <button type="button">Close</button><br><br>
    
</body>
</html>
